# Modules
modules/

# MPICH
build/mpich-3.1.4.tar.gz
build/mpich-3.1.4/
opt/mpich-3.1.4/

# zlib
build/zlib-1.2.11.tar.gz
build/zlib-1.2.11/
opt/zlib-1.2.11/

# HDF5
build/hdf5-1.8.21.tar.bz2
build/hdf5-1.8.21/
opt/hdf5-1.8.21/

# pNetCDF
build/pnetcdf-1.12.0.tar.gz
build/pnetcdf-1.12.0/
opt/pnetcdf-1.12.0/

# NetCDF-C
build/v4.7.3.tar.gz
build/netcdf-c-4.7.3/
opt/netcdf-c-4.7.3/

# NetCDF-Fortran
build/v4.4.5.tar.gz
build/netcdf-fortran-4.4.5/
opt/netcdf-fortran-4.4.5/

# WRF
opt/netcdf/
build/WRF_ISC21/
!build/WRF_ISC21/configure.wrf

# GROMACS
build/gromacs-2021.5.tar.gz
build/gromacs-2021.5/
opt/gromacs/
gromacs/gromacs_2021.3.sif
gromacs/water_GMX50_bare.tar.gz
gromacs/water-cut1.0_GMX50_bare/
gromacs/gromacs*.txt
gromacs/stmv.tpr
